<% @title = 'Sign In &ndash; Schedule Comparinator 2013' %>
<%= partial :'part/head' %>

<div class="layer accent huge center nopad">
	<div class="layer_inner">
		<h1 class="title">Sign in to Schedule Comparinator 2013</h1>
		<p class="subtitle">Thank you for choosing Schedule Comparinator 2013! Please sign in using either your Facebook or Google account.</p>
	</div>
</div>

<div class="layer dark center">
	<div class="layer_inner">
		<p class="subtitle">Schedule Comparinator 2013 is no longer accepting new users. Current users can still login, though.</p>
	</div>
</div>

<div class="layer lighter large center twocol clearafter">
	<div class="layer_inner">
		<div class="col">
			<h2 class="title">Facebook</h2>
			<div class="social_circle_wrapper">
				<img src="/img/social/facebook.png" alt="" class="social_circle inactive">
				<img src="/img/social/facebook_color.png" alt="" class="social_circle active">
			</div>
			<a href="/auth/facebook" class="button accent2">Sign in</a>
		</div>
		<div class="col">
			<h2 class="title">Google</h2>
			<div class="social_circle_wrapper">
				<img src="/img/social/google.png" alt="" class="social_circle inactive">
				<img src="/img/social/google_color.png" alt="" class="social_circle active">
			</div>
			<a href="/auth/gplus" class="button accent2">Sign in</a>
		</div>
	</div>
</div>

<%= partial :'part/foot' %>